.itemInfo {
    display: flex;
    align-items: center;
}

.itemImage {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

.itemTitle {
    font-weight: bold;
    text-align: left;
    margin-right: 15px;
}

.quantityContainer {
    display: flex;
    align-items: center;
}

.quantityInput {
    width: 40px;
    /* 수정된 너비 */
    height: 20px;
    /* 수정된 높이 */
    padding: 5px;
    text-align: center;
    border: 1px solid #ccc;
    /* 테두리 추가 */
}

.quantityButton {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    color: #006769;
    background: none;
    border: 1px solid #ccc;
    cursor: pointer;
    margin: 0 5px;
    border-radius: 50%;
}

.quantityButton:hover {
    color: #006769;
    /* 포인트 컬러의 어두운 버전 */
    border-color: #006769;
    /* 포인트 컬러의 어두운 버전 */
}

.deleteButton {
    background-color: #ddd;
    border: none;
    padding: 5px 10px;
    margin: 0;
    cursor: pointer;
}

.deleteButton:hover {
    background-color: #ccc;
}