.container {
  width: 1030px;
  margin: auto;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.selectOrder {
  display: inline-block;
  margin: 20px auto;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  transition: box-shadow 0.3s ease;
}

.selectOrder:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.books {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

.bookLink {
  text-decoration: none;
  color: black;
}

.bookContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #e0e0e0;
  padding: 10px;
  transition: transform 0.2s, box-shadow 0.2s;
}

.bookContainer:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.imageArea {
  width: 150px; /* 이미지 크기 조절 */
  height: 225px; /* 이미지 크기 조절 */
  overflow: hidden;
}

.image {
  width: 100%;
  height: auto;
}

.explain {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 10px;
}

.author {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.priceContainer {
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.priceTag {
  color: #c54a72;
  font-size: 16px; /* 글꼴 크기 조절 */
}
