

hr{
    background: #006769;
    height: 1px;
    border: 0;
}


.container{
    width: 1030px;
    margin: auto;
    position: relative;
}



.categoryHidden{
    border: 1px solid black;
    height: 300px;
    z-index: 5;
    position: absolute;
    width: 100%;
    background-color: white;
    visibility: hidden;
}

.categoryVisible {
    border: 1px solid black;
    height: 300px;
    z-index: 5;
    position: absolute;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    visibility: visible;
}

.categoryTitle {
    color: white;
    background-color: #006769;
    margin: 5px;
}


.categoryContainer{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.categoryVisible:hover{
    visibility: visible;
}


.categoryList{
    list-style-type: none;
    margin: 10px;
    transition: color 0.2s ease, text-shadow 0.2s ease;
}

.categoryList:hover{
    color: #008000;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}


.link{
    text-decoration: none;
    color: black;
}

.link:visited{
    color: black;
}