/* OrderHistory.module.css */
.orderHistoryContainer {
    width: 1030px;
    margin: auto;
    display: flex;
}

.selectPage {
    width: 20%;
    background-color: #f2f2f2;
    padding: 20px;
    box-sizing: border-box;
    height: 100vh;
    border-right: 1px solid #d1d1d1;
}

.selectPageButton {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    background-color: #ffffff;
    color: #333;
    border: 1px solid #d1d1d1;
    border-radius: 3px;
    cursor: pointer;
    text-align: left;
    box-sizing: border-box;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    position: relative;
    font-size: 16px;
    font-weight: bold;
    /* Make the text bold */
}

.selectPageButton:hover {
    background-color: #f9f9f9;
    border-color: #bbbbbb;
}

.selectPageButton:active {
    background-color: #e9e9e9;
    border-color: #aaaaaa;
}

.selectPageButton .dropdownContent {
    display: none;
    position: absolute;
    background-color: #ffffff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    left: 0;
    right: 0;
}

.selectPageButton:hover .dropdownContent {
    display: block;
}

.dropdownContent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdownContent a:hover {
    background-color: #f1f1f1;
}

.orderHistory {
    width: 75%;
    padding-left: 30px;
    background-color: #fafafa;
}

.order {
    border-bottom: 1px solid #e1e1e1;
    padding: 15px 0;
}

.orderHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.orderDate {
    font-weight: bold;
}

.orderDetailsLink {
    color: #000000;
    text-decoration: none;
}

.orderBody {
    display: flex;
    flex-direction: column;
}

.orderStatus {
    font-size: 14px;
    color: #28a745;
    margin-bottom: 10px;
}

.deliveryDate {
    font-size: 12px;
    color: #999;
}

.orderItems {
    display: flex;
    flex-direction: column;
}

.orderActions {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.trackOrderButton,
.returnRequestButton,
.contactSellerButton {
    background-color: white;
    color: #555;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-left: 10px;
}

.trackOrderButton:hover,
.returnRequestButton:hover,
.contactSellerButton:hover {
    background-color: #f0f0f0;
    border-color: #ccc;
}

a:visited {
    color: black;
}