.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination-item {
    display: inline-block;
    margin: 0 10px;
    /* 간격을 적당히 조절합니다. */
}

.pagination-link {
    padding: 6px 1px;
    border: 1px solid #ddd;
    background-color: white;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
    min-width: 32px;
    text-align: center;
    line-height: 20px;
}

.pagination-link:hover {
    background-color: #e9ecef;
}

.pagination-active .pagination-link {
    border-color: black;
}

.pagination-disabled .pagination-link {
    background-color: #e9ecef;
    border-color: #ddd;
    color: #6c757d;
    cursor: not-allowed;
}