/* SearchPage.module.css */
.container {
    width: 100%;
    max-width: 1030px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchContainer {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.searchBox {
    display: flex;
}

.searchInput {
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ddd;
    width: 300px;
}

.searchButton {
    padding: 8px 16px;
    background-color: #006769;
    color: #fff;
    border: none;
    cursor: pointer;
}

.searchButton:hover {
    background-color: #005457;
}

.bookList {
    width: 100%;
}

.bookContainer {
    display: flex;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    align-items: flex-start; /* 책 이미지와 텍스트를 같은 높이로 시작하게 함 */
}

.imageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}

.bookImage {
    width: 200px;
    height: 300px;
    object-fit: cover;
    margin-bottom: 10px;
}

.infoContainer {
    flex-grow: 1;
}

.bookTitle {
    font-size: 1.5em;
    margin-bottom: 10px;
    margin-top: 0; /* 책 이미지와 같은 높이에서 시작하게 함 */
}

.bookAuthor,
.bookPrice {
    margin-bottom: 5px;
}

.bookPrice {
    font-size: 15px;
    font-style: bold;
}

.bookDescription {
    font-size: 1em;
    line-height: 1.5;
}
