:root {
    --primary-color: #006769;
    --hover-color: #005457;
    --text-color: #fff;
    --background-color: #004d40;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1030px;
    margin: 40px auto; /* 상단 간격 추가 */
    min-width: 1030px;
    position: relative;
  }
  
  .logo {
    font-size: 32px;
    font-weight: bold;
    margin-right: 20px; /* 로고와 검색창 사이 간격 */
  }

  #logoLink {
    color: black; /* 링크 색상 */
    text-decoration: none; /* 링크 밑줄 제거 */
  }
  
  .searchBar {
    border: 3px solid var(--primary-color); /* 테두리 색상 변경 */
    border-radius: 12px;
    display: flex;
    width: 535px;
    height: 41px;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
  }
  
  .searchBar > select {
    width: 15%;
    border: none;
    background-color: white;
  }
  
  .searchBar > input {
    width: 75%;
    color: black;
    border: none;
  }
  
  .searchBar > button {
    width: 10%;
    border: none;
    color: white;
    background-color: var(--primary-color); /* 버튼 배경 색상 변경 */
  }
  
  .autocompleteVisible {
    position: absolute;
    top: 45px; /* 검색창 아래에 나타나도록 조정 */
    z-index: 5;
    background-color: white;
    width: 535px;
    margin-top: 5px;
    display: block;
    height: auto;
    border: 1px solid var(--primary-color);
    visibility: visible;
  }
  
  .autocompleteHidden {
    position: absolute;
    top: 45px; /* 검색창 아래에 나타나도록 조정 */
    z-index: 5;
    background-color: white;
    width: 535px;
    margin-top: 5px;
    display: block;
    height: auto;
    border: 1px solid var(--primary-color);
    visibility: hidden;
  }
  
  .autocompleteItem {
    padding: 10px;
    cursor: pointer;
  }
  
  .autocompleteItem:hover {
    background-color: var(--hover-color);
    color: var(--text-color);
  }
  
  .itemContainer > button {
    width: 100%;
    border: none;
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 10px;
    cursor: pointer;
  }
  
  .itemContainer > button:hover {
    background-color: var(--hover-color);
  }
  